{
  "extends": "google",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {},
  "rules": {
    "require-jsdoc": [
      2,
      {
        "require": {
          "FunctionDeclaration": false,
          "MethodDefinition": false,
          "ClassDeclaration": false
        }
      }
    ],
    "object-curly-spacing": [
      2,
      "always"
    ]
  }
}